@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Body */

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    background-color: #00171F;
}

#mapContainer {
    position: absolute;
    margin-left: 25vw;
    margin-top: 1vw;
    width: 73vw;
    overflow: hidden;
    height: 44vw;
    justify-content: center;
    border: 3px solid #007EA7;
}

/* Log in and register pages */

#logInContainer {
  margin-left: 35vw;
  margin-right: 25vw;
  margin-top: 5vw;
  width: 40vw;
  height: 25vw;
  justify-content: center;
}

/* Form for a new grave */



/* Log in and register buttons */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin-top: 3em;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 p {
  position: relative;
  transition: all .35s ease-Out;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover p {
  color: #2D3142;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

/* About Container */

#aboutContainer {
  margin-left: 35vw;
  margin-right: 25vw;
  margin-top: 5vw;
  width: 40vw;
  height: 25vw;
  justify-content: center;
}

/* Header and it's contents */

header {
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    background-color: #003459;
}

header > h1 {
    margin: auto 2em;
    font-family: 'Righteous', cursive;
}

header > h1 > a {
    text-decoration: none;
    color: #FFFFFF;
}

#nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 10vw;
    padding: 0;
}

#nav > li {
    list-style: none;
    margin: auto 2em;
}
a.datalink:link, a.datalink:visited {
    background-color: #f44336;
    color: white;
    margin-top:  2em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.datalink:hover, a.datalink:active {
    background-color: #007EA7;
}

@media only screen and (min-width: 570px) {
    #nav > li {
        margin: 0 3em 0 0;
    }
}

#nav > li > a {
    text-decoration: none;
    color: #ececeb;
}

#nav > li > a:hover {
    color: #007EA7;
}

/* Sidebar */

#sidebar {
    display: inline-block;
    margin: 1em auto;
}

#results {
  list-style-type: none;
  padding-top: 1rem;
  padding-left: 2rem;
}

#singleResult {
  padding-top: 0.5rem;
  color: white;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
}

#singleResultDetails {
  cursor:auto;
  padding-top: 0.5rem;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
}

#singleResult:hover {
  cursor: pointer;
  color:#007EA7
}

#newGraveForm {
  display: inline-grid;
}

/* Search bar CSS starts here */

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}
.form__field {
    font-family: inherit;
    width: 150%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    white-space: nowrap;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #007EA7;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-color:  #007EA7;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #007EA7;
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}


/* Send button for newGrave form */

#button-7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 a {
  position: relative;
  left: 0;
  transition: all .35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: #BFC0C0;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-7 img {
  width: 20px;
  height: auto;
}

#button-7:hover #dub-arrow {
  left: 0;
}

#button-7:hover a {
  left: 150px;
}

@media screen and (min-width:1000px) {
  h1 {
    font-size: 2.2em;
  }
  #container {
    width: 50%;
  }
}

/** Wobble Skew Animations **/

@-webkit-keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  @keyframes hvr-wobble-skew {
    16.65% {
      -webkit-transform: skew(-12deg);
      transform: skew(-12deg);
    }
    33.3% {
      -webkit-transform: skew(10deg);
      transform: skew(10deg);
    }
    49.95% {
      -webkit-transform: skew(-6deg);
      transform: skew(-6deg);
    }
    66.6% {
      -webkit-transform: skew(4deg);
      transform: skew(4deg);
    }
    83.25% {
      -webkit-transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      -webkit-transform: skew(0);
      transform: skew(0);
    }
  }
  .hvr-wobble-skew {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-skew:hover, .hvr-wobble-skew:focus, .hvr-wobble-skew:active {
    -webkit-animation-name: hvr-wobble-skew;
    animation-name: hvr-wobble-skew;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }

  /* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes hvr-wobble-horizontal {
    16.65% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    33.3% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    49.95% {
      -webkit-transform: translateX(4px);
      transform: translateX(4px);
    }
    66.6% {
      -webkit-transform: translateX(-2px);
      transform: translateX(-2px);
    }
    83.25% {
      -webkit-transform: translateX(1px);
      transform: translateX(1px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }